interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/compare/00c7b4b49778b3c79427f9c4c13a8612a376ff19...68946ef98daec68c7798459150982fc799c87d85
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/00c7b4b49778b3c79427f9c4c13a8612a376ff19...68946ef98daec68c7798459150982fc799c87d85","html_url":"https://github.com/ThiagoCodecov/example-python/compare/00c7b4b49778b3c79427f9c4c13a8612a376ff19...68946ef98daec68c7798459150982fc799c87d85","permalink_url":"https://github.com/ThiagoCodecov/example-python/compare/ThiagoCodecov:00c7b4b...ThiagoCodecov:68946ef","diff_url":"https://github.com/ThiagoCodecov/example-python/compare/00c7b4b49778b3c79427f9c4c13a8612a376ff19...68946ef98daec68c7798459150982fc799c87d85.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/compare/00c7b4b49778b3c79427f9c4c13a8612a376ff19...68946ef98daec68c7798459150982fc799c87d85.patch","base_commit":{"sha":"00c7b4b49778b3c79427f9c4c13a8612a376ff19","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjAwYzdiNGI0OTc3OGIzYzc5NDI3ZjljNGMxM2E4NjEyYTM3NmZmMTk=","commit":{"author":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2019-07-02T18:44:19Z"},"committer":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2019-07-02T18:44:19Z"},"message":"Base
        commit 1","tree":{"sha":"ff929ade18c40a59fb1051f03f10d18cd82e372b","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/ff929ade18c40a59fb1051f03f10d18cd82e372b"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/00c7b4b49778b3c79427f9c4c13a8612a376ff19","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/00c7b4b49778b3c79427f9c4c13a8612a376ff19","html_url":"https://github.com/ThiagoCodecov/example-python/commit/00c7b4b49778b3c79427f9c4c13a8612a376ff19","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/00c7b4b49778b3c79427f9c4c13a8612a376ff19/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"committer":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"parents":[{"sha":"da7ee40d09df8b1259b92083b993c9ac4f0b3d93","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/da7ee40d09df8b1259b92083b993c9ac4f0b3d93","html_url":"https://github.com/ThiagoCodecov/example-python/commit/da7ee40d09df8b1259b92083b993c9ac4f0b3d93"}]},"merge_base_commit":{"sha":"00c7b4b49778b3c79427f9c4c13a8612a376ff19","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjAwYzdiNGI0OTc3OGIzYzc5NDI3ZjljNGMxM2E4NjEyYTM3NmZmMTk=","commit":{"author":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2019-07-02T18:44:19Z"},"committer":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2019-07-02T18:44:19Z"},"message":"Base
        commit 1","tree":{"sha":"ff929ade18c40a59fb1051f03f10d18cd82e372b","url":"https://api.github.com/repos/ThiagoCodecov/examp[...]
