upload/ @codecov/Platform
graphql_api/ @codecov/API
**/migrations/ @codecov/database-migration-reviewers

codecov_auth/models.py @adrian-codecov
core/models.py @adrian-codecov
reports/models.py @adrian-codecov
