git+ssh://git@github.com/codecov/shared.git@v0.7.3#egg=shared
Django
djangorestframework
gunicorn
factory-boy
minio
psycopg2
pytest
pytest-django
python-dateutil
python-json-logger
pytz
requests
tlslite-ng
vcrpy
pytest-mock
django-cors-headers
django-filter
celery
redis
environs
sentry-sdk
stripe
setproctitle
django-dynamic-fixture
cerberus
ddtrace
pytest-cov
pre-commit
python-redis-lock
whitenoise
ariadne
https://github.com/photocrowd/django-cursor-pagination/archive/f560902696b0c8509e4d95c10ba0d62700181d84.tar.gz
freezegun
opentracing
aiodataloader
fakeredis
opentelemetry-sdk
opentelemetry-instrumentation-django
pylint
pylint-django
elastic-apm
ariadne_django
simplejson
git+ssh://git@github.com/codecov/opentelem-python.git@v0.0.4a1#egg=codecovopentelem

