aiodataloader
ariadne
ariadne_django
celery[redis]
cerberus
ddtrace
Django
django-cors-headers
django-dynamic-fixture
django-filter
django-prometheus
djangorestframework
drf-spectacular
drf-spectacular-sidecar
elastic-apm
factory-boy
fakeredis
freezegun
https://github.com/codecov/opentelem-python/archive/refs/tags/v0.0.4a1.tar.gz#egg=codecovopentelem
https://github.com/codecov/shared/archive/bd0e7d81a86a095c235bb9803a5593fddc2bec1a.tar.gz#egg=shared
google-cloud-pubsub
gunicorn
https://github.com/photocrowd/django-cursor-pagination/archive/f560902696b0c8509e4d95c10ba0d62700181d84.tar.gz
minio
opentelemetry-instrumentation-django>=0.41b0
opentelemetry-sdk>=1.20.0
opentracing
pre-commit
psycopg2
PyJWT
pytest>=7.2.0
pytest-cov
pytest-django
pytest-mock
pytest-asyncio
python-dateutil
python-json-logger
python-redis-lock
pytz
redis
requests
sentry-sdk
setproctitle
simplejson
stripe
urllib3>=1.26.17
vcrpy
whitenoise
