-e git+https://74b2d36cf710afef720fbf3dc0472241da04ceaf:x-oauth-basic@github.com/codecov/report.git@0df9d33d9035a0bc1e52663a0394649e84b85c4b#egg=covreports
-e git+https://74b2d36cf710afef720fbf3dc0472241da04ceaf:x-oauth-basic@github.com/codecov/torngit.git@python-3-master#egg=torngit
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
colour==0.1.5
dj-database-url==0.5.0
Django==2.1.3
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
ecdsa==0.13
factory-boy==2.11.1
Faker==1.0.1
htmldom==2.0
httplib2==0.12.0
idna==2.8
minio==4.0.8
more-itertools==5.0.0
oauth2==1.9.0.post1
oauthlib==3.0.0
pluggy==0.8.1
psycopg2==2.7.6.1
py==1.7.0
PyJWT==1.7.1
pytest==4.1.0
pytest-django==3.4.5
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
text-unidecode==1.2
tlslite-ng==0.7.5
tornado==5.1.1
urllib3==1.24.1
pycrypto==2.6.1
vcrpy==2.0.1
pytest-mock==1.10.1
PyYAML==3.13