interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/eyoel-cov/codecov-assume-flag-test/compare/791886122b02a2e52e5dd09e8be5f92e09e83f0b...f64b22e6af4bbe3917ac4a7c346feb03493c2b67
  response:
    body: {string: '{"url":"https://api.github.com/repos/eyoel-cov/codecov-assume-flag-test/compare/791886122b02a2e52e5dd09e8be5f92e09e83f0b...f64b22e6af4bbe3917ac4a7c346feb03493c2b67","html_url":"https://github.com/eyoel-cov/codecov-assume-flag-test/compare/791886122b02a2e52e5dd09e8be5f92e09e83f0b...f64b22e6af4bbe3917ac4a7c346feb03493c2b67","permalink_url":"https://github.com/eyoel-cov/codecov-assume-flag-test/compare/eyoel-cov:7918861...eyoel-cov:f64b22e","diff_url":"https://github.com/eyoel-cov/codecov-assume-flag-test/compare/791886122b02a2e52e5dd09e8be5f92e09e83f0b...f64b22e6af4bbe3917ac4a7c346feb03493c2b67.diff","patch_url":"https://github.com/eyoel-cov/codecov-assume-flag-test/compare/791886122b02a2e52e5dd09e8be5f92e09e83f0b...f64b22e6af4bbe3917ac4a7c346feb03493c2b67.patch","base_commit":{"sha":"791886122b02a2e52e5dd09e8be5f92e09e83f0b","node_id":"MDY6Q29tbWl0MTkxMjUxNjE2Ojc5MTg4NjEyMmIwMmEyZTUyZTVkZDA5ZThiZTVmOTJlMDllODNmMGI=","commit":{"author":{"name":"Eli
        Hooten","email":"elir.hooten@gmail.com","date":"2019-05-28T12:12:04Z"},"committer":{"name":"Eli
        Hooten","email":"elir.hooten@gmail.com","date":"2019-05-28T12:12:04Z"},"message":"More
        Azure Fixes","tree":{"sha":"344335c51781e11ec8421c3974bf4aceecc0fe74","url":"https://api.github.com/repos/eyoel-cov/codecov-assume-flag-test/git/trees/344335c51781e11ec8421c3974bf4aceecc0fe74"},"url":"https://api.github.com/repos/eyoel-cov/codecov-assume-flag-test/git/commits/791886122b02a2e52e5dd09e8be5f92e09e83f0b","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/eyoel-cov/codecov-assume-flag-test/commits/791886122b02a2e52e5dd09e8be5f92e09e83f0b","html_url":"https://github.com/eyoel-cov/codecov-assume-flag-test/commit/791886122b02a2e52e5dd09e8be5f92e09e83f0b","comments_url":"https://api.github.com/repos/eyoel-cov/codecov-assume-flag-test/commits/791886122b02a2e52e5dd09e8be5f92e09e83f0b/comments","author":{"login":"hootener","id":1566985,"node_id":"MDQ6VXNlcjE1NjY5ODU=","avatar_url":"https://avatars0.githubusercontent.com/u/1566985?v=4","gravatar_id":"","url":"https://api.github.com/users/hootener","html_url":"https://github.com/hootener","followers_url":"https://api.github.com/users/hootener/followers","following_url":"https://api.github.com/users/hootener/following{/other_user}","gists_url":"https://api.github.com/users/hootener/gists{/gist_id}","starred_url":"https://api.github.com/users/hootener/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hootener/subscriptions","organizations_url":"https://api.github.com/users/hootener/orgs","repos_url":"https://api.github.com/users/hootener/repos","events_url":"https://api.github.com/users/hootener/events{/privacy}","received_events_url":"https://api.github.com/users/hootener/received_events","type":"User","site_admin":false},"committer":{"login":"hootener","id":1566985,"node_id":"MDQ6VXNlcjE1NjY5ODU=","avatar_url":"https://avatars0.githubusercontent.com/u/1566985?v=4","gravatar_id":"","url":"https://api.github.com/users/hootener","html_url":"https://github.com/hootener","followers_url":"https://api.github.com/users/hootener/followers","following_url":"https://api.github.com/users/hootener/following{/other_user}","gists_url":"https://api.github.com/users/hootener/gists{/gist_id}","starred_url":"https://api.github.com/users/hootener/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hootener/subscriptions","organizations_url":"https://api.github.com/users/hootener/orgs","repos_url":"https://api.github.com/users/hootener/repos","events_url":"https://api.github.com/users/hootener/events{/privacy}","received_events_url":"https://api.github.com/users/hootener/received_events","type":"User","site_admin":false},"parents":[{"sha":"7bc5fa7bc1f9fcb631a803d6c4b714f0c582b496","url":"https://api.github.com/repos/eyoel-cov/codecov-assume-flag-test/commits/7bc5fa7bc1f9fcb631a803d6c4b714f0c582b496","html_url":"https://github.com/eyoel-cov/codecov-assume-flag-test/commit/7bc5fa7bc1f9fcb631a803d6c4b714f0c582b496"}]},"merge_base_commit":{"sha":"791886122b02a2e52e5dd09e8be5f92e09e83f0b","node_id":"MDY6Q29tbWl0MTkxMjUxNjE2Ojc5MTg4NjEyMmIwMmEyZTUyZTVkZDA5ZThiZTVmOTJlMDllODNmMGI=","commit":{"author":{"name":"Eli
        Hooten","email":"elir.hooten@gmail.com","date":"2019-05-28T12:12:04Z"},"committer":{"name":"Eli
        Hooten","email":"elir.hooten@gmail.com","date":"2019-05-28T12:12:04Z"},"message":"More
        Azure Fixes","tree":{"sha":"344335c51781e11ec8421c3974bf4aceecc0fe74","url":"https://api.github.com/repos/eyoel-cov/co[...]
