interactions:
- request:
    body: billing_address_collection=auto&payment_method_types[0]=card&payment_method_collection=if_required&client_reference_id=69&success_url=http%3A%2F%2Flocalhost%3A3000%2Fplan%2Fgh%2Fdustinbrown%3Fsuccess&cancel_url=http%3A%2F%2Flocalhost%3A3000%2Fplan%2Fgh%2Fdustinbrown%3Fcancel&subscription_data[items][0][plan]=price_1Mj1mMGlVGuVgOrkC0ORc6iW&subscription_data[items][0][quantity]=12&subscription_data[payment_behavior]=allow_incomplete&subscription_data[metadata][service]=github&subscription_data[metadata][obo_organization]=69&subscription_data[metadata][username]=dustinbrown&subscription_data[metadata][obo_name]=Melanie+Young&subscription_data[metadata][obo_email]=nelsondavid%40gutierrez-carlson.biz&subscription_data[metadata][obo]=68&subscription_data[trial_period_days]=14&subscription_data[trial_settings][end_behavior][missing_payment_method]=cancel&customer_email=karenmorgan%40hotmail.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4a99c686-ec33-4be8-a5e0-84bfd1d25a5f
    method: POST
    uri: https://api.stripe.com/v1/checkout/sessions
  response:
    body:
      string: "{\n  \"id\": \"cs_test_a1VJ7uPphpFIRYNicL2xduJkZf7kMlUsgom2pcLv35tQFZGQmbeZXWMZJp\"\
        ,\n  \"object\": \"checkout.session\",\n  \"after_expiration\": null,\n  \"\
        allow_promotion_codes\": null,\n  \"amount_subtotal\": 0,\n  \"amount_total\"\
        : 0,\n  \"automatic_tax\": {\n    \"enabled\": false,\n    \"status\": null\n\
        \  },\n  \"billing_address_collection\": \"auto\",\n  \"cancel_url\": \"http://localhost:3000/plan/gh/dustinbrown?cancel\"\
        ,\n  \"client_reference_id\": \"69\",\n  \"consent\": null,\n  \"consent_collection\"\
        : null,\n  \"created\": 1689601952,\n  \"currency\": \"usd\",\n  \"currency_conversion\"\
        : null,\n  \"custom_fields\": [],\n  \"custom_text\": {\n    \"shipping_address\"\
        : null,\n    \"submit\": null\n  },\n  \"customer\": null,\n  \"customer_creation\"\
        : \"always\",\n  \"customer_details\": {\n    \"address\": null,\n    \"email\"\
        : \"karenmorgan@hotmail.com\",\n    \"name\": null,\n    \"phone\": null,\n\
        \    \"tax_exempt\": \"none\",\n    \"tax_ids\": null\n  },\n  \"customer_email\"\
        : \"karenmorgan@hotmail.com\",\n  \"display_items\": [\n    {\n      \"amount\"\
        : 0,\n      \"currency\": \"usd\",\n      \"plan\": {\n        \"id\": \"\
        price_1Mj1mMGlVGuVgOrkC0ORc6iW\",\n        \"object\": \"plan\",\n       \
        \ \"active\": true,\n        \"aggregate_usage\": null,\n        \"amount\"\
        : null,\n        \"amount_decimal\": null,\n        \"billing_scheme\": \"\
        tiered\",\n        \"created\": 1678200374,\n        \"currency\": \"usd\"\
        ,\n        \"interval\": \"year\",\n        \"interval_count\": 1,\n     \
        \   \"livemode\": false,\n        \"metadata\": {},\n        \"name\": \"\
        users-sentryy\",\n        \"nickname\": null,\n        \"product\": \"prod_NTzlixoYR2xMef\"\
        ,\n        \"statement_descriptor\": null,\n        \"tiers\": [\n       \
        \   {\n            \"amount\": null,\n            \"flat_amount\": 34800,\n\
        \            \"flat_amount_decimal\": \"34800\",\n            \"unit_amount_decimal\"\
        : null,\n            \"up_to\": 5\n          },\n          {\n           \
        \ \"amount\": 12000,\n            \"flat_amount\": null,\n            \"flat_amount_decimal\"\
        : null,\n            \"unit_amount_decimal\": \"12000\",\n            \"up_to\"\
        : null\n          }\n        ],\n        \"tiers_mode\": \"graduated\",\n\
        \        \"transform_usage\": null,\n        \"trial_period_days\": 14,\n\
        \        \"usage_type\": \"licensed\"\n      },\n      \"quantity\": 12,\n\
        \      \"type\": \"plan\"\n    }\n  ],\n  \"expires_at\": 1689688352,\n  \"\
        invoice\": null,\n  \"invoice_creation\": null,\n  \"livemode\": false,\n\
        \  \"locale\": null,\n  \"metadata\": {},\n  \"mode\": \"subscription\",\n\
        \  \"payment_intent\": null,\n  \"payment_link\": null,\n  \"payment_method_collection\"\
        : \"if_required\",\n  \"payment_method_options\": null,\n  \"payment_method_types\"\
        : [\n    \"card\"\n  ],\n  \"payment_status\": \"unpaid\",\n  \"phone_number_collection\"\
        : {\n    \"enabled\": false\n  },\n  \"recovered_from\": null,\n  \"setup_intent\"\
        : null,\n  \"shipping\": null,\n  \"shipping_address_collection\": null,\n\
        \  \"shipping_options\": [],\n  \"shipping_rate\": null,\n  \"status\": \"\
        open\",\n  \"submit_type\": null,\n  \"subscription\": null,\n  \"success_url\"\
        : \"http://localhost:3000/plan/gh/dustinbrown?success\",\n  \"total_details\"\
        : {\n    \"amount_discount\": 0,\n    \"amount_shipping\": 0,\n    \"amount_tax\"\
        : 0\n  },\n  \"url\": \"https://checkout.stripe.com/c/pay/cs_test_a1VJ7uPphpFIRYNicL2xduJkZf7kMlUsgom2pcLv35tQFZGQmbeZXWMZJp#fidkdWxOYHwnPyd1blpxYHZxWjA0MVZPUUpCaVNCcFNiSnduV2JtMn99dTZxVDJnXTFGXDN1a319cjN%2FV19fVmpBU3FQUG9Ed1VORjJqXWBgTGdPS0xGUXRWMk09PUNXY3Jfa1JIdm5VTn1qNTVnRGtwN2w8TCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl\"\
        \n}"
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4a99c686-ec33-4be8-a5e0-84bfd1d25a5f
      Original-Request:
      - req_RwdTyPtxxWL9eu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2017-05-25'
    status:
      code: 200
      message: OK
version: 1
