interactions:
- request:
    body: null
    headers:
      Stripe-Version:
      - '2024-04-10'
    method: GET
    uri: https://api.stripe.com/v1/subscriptions/djfos?expand%5B0%5D=latest_invoice&expand%5B1%5D=customer&expand%5B2%5D=customer.invoice_settings.default_payment_method
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"resource_missing\",\n    \"doc_url\":
        \"https://stripe.com/docs/error-codes/resource-missing\",\n    \"message\":
        \"No such subscription: 'djfos'\",\n    \"param\": \"id\",\n    \"request_log_url\":
        \"https://dashboard.stripe.com/test/logs/req_4POjCjRMnbE5Wg?t=1718056644\",\n
        \   \"type\": \"invalid_request_error\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-04-10'
    status:
      code: 404
      message: Not Found
version: 1
