interactions:
- request:
    body: billing_address_collection=required&payment_method_types[0]=card&payment_method_collection=if_required&client_reference_id=65&success_url=http%3A%2F%2Flocalhost%3A3000%2Fplan%2Fgh%2Fysantos%3Fsuccess&cancel_url=http%3A%2F%2Flocalhost%3A3000%2Fplan%2Fgh%2Fysantos%3Fcancel&subscription_data[items][0][plan]=plan_H6P16wij3lUuxg&subscription_data[items][0][quantity]=14&subscription_data[payment_behavior]=allow_incomplete&subscription_data[metadata][service]=github&subscription_data[metadata][obo_organization]=65&subscription_data[metadata][username]=ysantos&subscription_data[metadata][obo_name]=Matthew+Guzman&subscription_data[metadata][obo_email]=ybrown%40fitzgerald-cummings.org&subscription_data[metadata][obo]=65&customer=1000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 21e170c5-bf4a-47f7-9da5-262844bbdbf2
    method: POST
    uri: https://api.stripe.com/v1/checkout/sessions
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"resource_missing\",\n    \"doc_url\"\
        : \"https://stripe.com/docs/error-codes/resource-missing\",\n    \"message\"\
        : \"No such customer: '1000'\",\n    \"param\": \"customer\",\n    \"request_log_url\"\
        : \"https://dashboard.stripe.com/test/logs/req_vVNzxP8mblHEcJ?t=1689601951\"\
        ,\n    \"type\": \"invalid_request_error\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 21e170c5-bf4a-47f7-9da5-262844bbdbf2
      Original-Request:
      - req_vVNzxP8mblHEcJ
      Stripe-Version:
      - '2017-05-25'
    status:
      code: 400
      message: Bad Request
version: 1
