interactions:
- request:
    body: billing_address_collection=required&payment_method_collection=if_required&client_reference_id=93&success_url=http%3A%2F%2Flocalhost%3A3000%2Fplan%2Fgh%2Fjocelyn62%3Fsuccess&cancel_url=http%3A%2F%2Flocalhost%3A3000%2Fplan%2Fgh%2Fjocelyn62%3Fcancel&customer=1000&mode=subscription&line_items[0][price]=price_1OCM0gGlVGuVgOrkWDYEBtSL&line_items[0][quantity]=11&subscription_data[metadata][service]=github&subscription_data[metadata][obo_organization]=93&subscription_data[metadata][username]=jocelyn62&subscription_data[metadata][obo_name]=Crystal+Schmitt&subscription_data[metadata][obo_email]=smithamanda%40flowers.biz&subscription_data[metadata][obo]=93&tax_id_collection[enabled]=True&customer_update[name]=auto&customer_update[address]=auto
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 26000f5a-feb8-4647-ac57-32a5e5ff8729
      Stripe-Version:
      - 2024-12-18.acacia
    method: POST
    uri: https://api.stripe.com/v1/checkout/sessions
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"resource_missing\",\n    \"doc_url\":
        \"https://stripe.com/docs/error-codes/resource-missing\",\n    \"message\":
        \"No such customer: '1000'\",\n    \"param\": \"customer\",\n    \"request_log_url\":
        \"https://dashboard.stripe.com/test/logs/req_k8lY68XdxWIFHo?t=1737668619\",\n
        \   \"type\": \"invalid_request_error\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 26000f5a-feb8-4647-ac57-32a5e5ff8729
      Original-Request:
      - req_k8lY68XdxWIFHo
      Stripe-Version:
      - 2024-12-18.acacia
      X-Wc:
      - AB
    status:
      code: 400
      message: Bad Request
version: 1
