interactions:
- request:
    body: default_payment_method=pm_123
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7c40f9e9-3a01-4109-87bf-3218dfbcf27f
      Stripe-Version:
      - '2024-04-10'
    method: POST
    uri: https://api.stripe.com/v1/subscriptions/djfos
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"resource_missing\",\n    \"doc_url\":
        \"https://stripe.com/docs/error-codes/resource-missing\",\n    \"message\":
        \"No such PaymentMethod: 'pm_123'\",\n    \"param\": \"default_payment_method\",\n
        \   \"request_log_url\": \"https://dashboard.stripe.com/test/logs/req_xT5h1VWY7P75Lu?t=1719007484\",\n
        \   \"type\": \"invalid_request_error\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7c40f9e9-3a01-4109-87bf-3218dfbcf27f
      Original-Request:
      - req_xT5h1VWY7P75Lu
      Stripe-Version:
      - '2024-04-10'
    status:
      code: 400
      message: Bad Request
version: 1
