interactions:
- request:
    body: null
    headers:
      Stripe-Version:
      - 2024-12-18.acacia
    method: GET
    uri: https://api.stripe.com/v1/subscriptions/djfos?expand%5B0%5D=latest_invoice&expand%5B1%5D=customer&expand%5B2%5D=customer.invoice_settings.default_payment_method&expand%5B3%5D=customer.tax_ids
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"resource_missing\",\n    \"doc_url\":
        \"https://stripe.com/docs/error-codes/resource-missing\",\n    \"message\":
        \"No such subscription: 'djfos'\",\n    \"param\": \"id\",\n    \"request_log_url\":
        \"https://dashboard.stripe.com/test/logs/req_fCLmExiHliLLAy?t=1738274612\",\n
        \   \"type\": \"invalid_request_error\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2024-12-18.acacia
      X-Wc:
      - AB
    status:
      code: 404
      message: Not Found
version: 1
