interactions:
- request:
    body: billing_address_collection=required&payment_method_collection=if_required&client_reference_id=65&success_url=http%3A%2F%2Flocalhost%3A3000%2Fplan%2Fgh%2Fjustin47%3Fsuccess&cancel_url=http%3A%2F%2Flocalhost%3A3000%2Fplan%2Fgh%2Fjustin47%3Fcancel&customer=1000&mode=subscription&line_items[0][price]=price_1OCM0gGlVGuVgOrkWDYEBtSL&line_items[0][quantity]=11&subscription_data[metadata][service]=github&subscription_data[metadata][obo_organization]=65&subscription_data[metadata][username]=justin47&subscription_data[metadata][obo_name]=Kelly+Williams&subscription_data[metadata][obo_email]=christopher27%40lopez-welch.com&subscription_data[metadata][obo]=65&tax_id_collection[enabled]=True&customer_update[name]=auto&customer_update[address]=auto
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2e7e12e1-9051-4766-b947-1abe985b5e98
      Stripe-Version:
      - 2024-12-18.acacia
    method: POST
    uri: https://api.stripe.com/v1/checkout/sessions
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": \"resource_missing\",\n    \"doc_url\":
        \"https://stripe.com/docs/error-codes/resource-missing\",\n    \"message\":
        \"No such customer: '1000'\",\n    \"param\": \"customer\",\n    \"request_log_url\":
        \"https://dashboard.stripe.com/test/logs/req_oevRZUbMiaT1kM?t=1737668618\",\n
        \   \"type\": \"invalid_request_error\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2e7e12e1-9051-4766-b947-1abe985b5e98
      Original-Request:
      - req_oevRZUbMiaT1kM
      Stripe-Version:
      - 2024-12-18.acacia
      X-Wc:
      - AB
    status:
      code: 400
      message: Bad Request
version: 1
