name: API CI

on:
  push:
    branches:
      - main
      - staging
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  AR_REPO: ${{ secrets.CODECOV_API_IMAGE_V2 }}

jobs:
  lint:
    name: Run Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          make lint.install
      - name: Check
        run: |
          make lint.check
  build:
    name: Build API
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: "auth"
        if: github.repository_owner == 'codecov'
        name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v1.1.1"
        with:
          token_format: "access_token"
          workload_identity_provider: ${{ secrets.CODECOV_GCP_WIDP }}
          service_account: ${{ secrets.CODECOV_GCP_WIDSA }}

      - name: Docker configuration
        if: github.repository_owner == 'codecov'
        run: |-
          echo ${{steps.auth.outputs.access_token}} | docker login -u oauth2accesstoken --password-stdin https://us-docker.pkg.dev

      - name: Cache Requirements
        id: cache-requirements
        uses: actions/cache@v3
        env:
          cache-name: cache-api-requirements
        with:
          path: |
            requirements.tar
          key: ${{ runner.os }}-api-${{ env.cache-name }}-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-api-${{ env.cache-name }}-

      - name: Cache App
        id: cache-app
        uses: actions/cache@v3
        env:
          cache-name: cache-api-app
        with:
          path: |
            app.tar
          key: ${{ runner.os }}-api-${{ env.cache-name }}-${{ github.run_id }}

      - name: Load requirements from cache
        if: ${{ steps.cache-requirements.outputs.cache-hit == 'true' }}
        run: |
          docker load --input requirements.tar

      - name: Build/pull requirements
        if: ${{ steps.cache-requirements.outputs.cache-hit != 'true' }}
        run: |
          make build.requirements
          make save.requirements

      - name: Push Requirements
        if: ${{ steps.cache-requirements.outputs.cache-hit != 'true' && github.repository_owner == 'codecov' }}
        run: |
          make push.requirements
      - name: Build app
        run: |
          make build.app
          make save.app

  codecovstartup:
    name: Codecov Startup
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Install CLI
        run: |
          make test_env.install_cli
      - name: Run Startup
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_ORG_TOKEN }}
        run: |
          codecovcli create-commit
          codecovcli create-report
      - name: Run Startup Staging
        run: |
          codecovcli create-commit -t ${{ secrets.CODECOV_ORG_TOKEN_STAGING }}
          codecovcli create-report -t ${{ secrets.CODECOV_ORG_TOKEN_STAGING }}

  ats:
    name: ATS
    needs: [build, codecovstartup]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache App
        id: cache-app
        uses: actions/cache@v3
        env:
          cache-name: cache-api-app
        with:
          path: |
            app.tar
          key: ${{ runner.os }}-api-${{ env.cache-name }}-${{ github.run_id }}
      - name: Load built image
        run: |
          docker load --input app.tar
          make tag.latest

      - name: Install docker compose
        run: |
          sudo curl -SL https://github.com/docker/compose/releases/download/v2.20.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
      - name: Bring test env up
        run: |
          make test_env.up
      - name: Prepare for tests
        run: |
          make test_env.prepare
          make test_env.check_db
      - name: Run Static Analysis
        run: |
          make test_env.static_analysis CODECOV_STATIC_TOKEN=${{ secrets.STATIC_TOKEN }}
      - name: Run Label Analysis
        run: |
          make test_env.label_analysis CODECOV_STATIC_TOKEN=${{ secrets.STATIC_TOKEN }} TIMESERIES_ENABLED=false
      - name: Run ATS
        run: |
          make test_env.ats CODECOV_UPLOAD_TOKEN=${{ secrets.CODECOV_ORG_TOKEN }}

  test:
    name: Test
    needs: [build, codecovstartup]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache App
        id: cache-app
        uses: actions/cache@v3
        env:
          cache-name: cache-api-app
        with:
          path: |
            app.tar
          key: ${{ runner.os }}-api-${{ env.cache-name }}-${{ github.run_id }}
      - name: Load built image
        run: |
          docker load --input app.tar
      - name: Install docker compose
        run: |
          sudo curl -SL https://github.com/docker/compose/releases/download/v2.20.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
      - name: Bring test env up
        run: |
          make test_env.up
      - name: Prepare for tests
        run: |
          make test_env.prepare
          make test_env.check_db
      - name: Run unit tests
        run: |
          make test_env.run_unit
      - name: Check for migration conflicts
        run: |
          make test_env.check-for-migration-conflicts
      ## Don't upload on forks for now.
      - name: upload using codecovcli
        if: github.repository_owner == 'codecov'
        run: |
          make test_env.upload CODECOV_UPLOAD_TOKEN=${{ secrets.CODECOV_ORG_TOKEN }}
      - name: upload using codecovcli staging
        if: github.repository_owner == 'codecov'
        run: |
          make test_env.upload_staging CODECOV_UPLOAD_TOKEN=${{ secrets.CODECOV_ORG_TOKEN_STAGING }}

  build-self-hosted:
    name: Build Self Hosted API
    runs-on: ubuntu-latest
    needs: [build, test]
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: "auth"
        if: github.repository_owner == 'codecov'
        name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v1.1.1"
        with:
          token_format: "access_token"
          workload_identity_provider: ${{ secrets.CODECOV_GCP_WIDP }}
          service_account: ${{ secrets.CODECOV_GCP_WIDSA }}

      - name: Docker configuration
        if: github.repository_owner == 'codecov'
        run: |-
          echo ${{steps.auth.outputs.access_token}} | docker login -u oauth2accesstoken --password-stdin https://us-docker.pkg.dev

      - name: Cache Requirements
        id: cache-requirements
        uses: actions/cache@v3
        env:
          cache-name: cache-api-requirements
        with:
          path: |
            requirements.tar
          key: ${{ runner.os }}-api-${{ env.cache-name }}-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-api-${{ env.cache-name }}-

      - name: Cache Self hosted
        id: cache-self-hosted
        uses: actions/cache@v3
        env:
          cache-name: cache-api-self-hosted
        with:
          path: |
            self-hosted-runtime.tar
            self-hosted.tar
          key: ${{ runner.os }}-api-${{ env.cache-name }}-${{ github.run_id }}

      - name: Load requirements from cache
        if: ${{ steps.cache-requirements.outputs.cache-hit == 'true' }}
        run: |
          docker load --input requirements.tar

      - name: Build/pull requirements
        if: ${{ steps.cache-requirements.outputs.cache-hit != 'true' }}
        run: |
          make build.requirements      

      - name: Build self hosted
        run: |
          make build.self-hosted
          make save.self-hosted

      - name: Build self hosted runtime
        run: |
          make build.self-hosted-runtime
          make save.self-hosted

  staging:
    name: Push Staging Image
    needs: [build, test]
    if: ${{ github.event.pull_request.merged == true && github.head_ref == 'staging' && github.repository_owner == 'codecov' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache App
        id: cache-app
        uses: actions/cache@v3
        env:
          cache-name: cache-api-app
        with:
          path: |
            app.tar
          key: ${{ runner.os }}-api-${{ env.cache-name }}-${{ github.run_id }}
      - name: Load built image
        run: |
          docker load --input app.tar
      - name: Push staging
        run: |
          make tag.staging
          make push.staging
      - name: Create Sentry release
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.CODECOV_SENTRY_RELEASE_TOKEN }}
          SENTRY_ORG: ${{ secrets.CODECOV_SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.CODECOV_API_SENTRY_PROJECT }}
        with:
          environment: staging
  production:
    name: Push Production Image
    needs: [ build, test ]
    if: ${{ github.event.pull_request.merged == true && github.head_ref == 'main' && github.repository_owner == 'codecov' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache App
        id: cache-app
        uses: actions/cache@v3
        env:
          cache-name: cache-api-app
        with:
          path: |
            app.tar
          key: ${{ runner.os }}-api-${{ env.cache-name }}-${{ github.run_id }}
      - name: Load built image
        run: |
          docker load --input app.tar
          docker image ls -a
      - name: Push production
        run: |
          make tag.production
          make push.production
      - name: Create Sentry release
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.CODECOV_SENTRY_RELEASE_TOKEN }}
          SENTRY_ORG: ${{ secrets.CODECOV_SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.CODECOV_API_SENTRY_PROJECT }}
        with:
          environment: production
  self-hosted:
    name: Push Self Hosted Image
    needs: [ build-self-hosted, test ]
    if: ${{ github.event.pull_request.merged == true && github.head_ref == 'main' && github.repository_owner == 'codecov' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache Self hosted
        id: cache-self-hosted
        uses: actions/cache@v3
        env:
          cache-name: cache-api-self-hosted
        with:
          path: |
            self-hosted-runtime.tar
            self-hosted.tar
          key: ${{ runner.os }}-api-${{ env.cache-name }}-${{ github.run_id }}
      - name: Load built image
        run: |
          docker load --input self-hosted-runtime.tar
          docker load --input self-hosted.tar
          docker image ls -a
      - name: Push production
        run: |
          make tag.self-hosted-rolling
          make push.self-hosted-rolling