name: API CI

on:
  push:
    branches:
      - main
      - staging
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  AR_REPO: ${{ secrets.CODECOV_API_IMAGE_V2 || 'codecov/self-hosted-api' }}

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  lint:
    name: Run Lint
    uses: codecov/gha-workflows/.github/workflows/lint.yml@main

  build:
    name: Build API
    uses: codecov/gha-workflows/.github/workflows/build-app.yml@main
    secrets: inherit
    with:
      repo: ${{ env.AR_REPO }}


  codecovstartup:
    name: Codecov Startup
    needs: build
    uses: codecov/gha-workflows/.github/workflows/codecov-startup.yml@main
    secrets: inherit

  ats:
    name: ATS
    needs: [build, codecovstartup]
    if: ${{ !github.event.pull_request.head.repo.fork && github.repository_owner == 'codecov' }}
    uses: codecov/gha-workflows/.github/workflows/run-ats.yml@main
    secrets: inherit
    with:
      repo: ${{ env.AR_REPO }}

  test:
    name: Test
    needs: [build, codecovstartup]
    uses: codecov/gha-workflows/.github/workflows/run-tests.yml@main
    secrets: inherit
    with:
      repo: ${{ env.AR_REPO }}

  build-self-hosted:
    name: Build Self Hosted API
    needs: [build, test]
    uses: codecov/gha-workflows/.github/workflows/self-hosted.yml@main
    secrets: inherit
    with:
      repo: ${{ env.AR_REPO }}

  staging:
    name: Push Staging Image
    needs: [build, test]
    if: ${{ github.event_name == 'push' && github.event.ref == 'refs/heads/staging' && github.repository_owner == 'codecov' }}
    uses: codecov/gha-workflows/.github/workflows/push-env.yml@main
    secrets: inherit
    with:
      environment: staging
      repo: ${{ env.AR_REPO }}

  production:
    name: Push Production Image
    needs: [ build, test ]
    if: ${{ github.event_name == 'push' && github.event.ref == 'refs/heads/main' && github.repository_owner == 'codecov' }}
    uses: codecov/gha-workflows/.github/workflows/push-env.yml@main
    secrets: inherit
    with:
      environment: production
      repo: ${{ env.AR_REPO }}

  self-hosted:
    name: Push Self Hosted Image
    needs: [ build-self-hosted, test ]
    secrets: inherit
    if: ${{ github.event_name == 'push' && github.event.ref == 'refs/heads/main' && github.repository_owner == 'codecov' }}
    uses: codecov/gha-workflows/.github/workflows/self-hosted.yml@main
    with:
      push_rolling: true
      repo: ${{ env.AR_REPO }}